**LOOPs IN PYTHON**

Loop means repetition ​

Repetitive statements in a code can be executed inside a loop​

Loops are used to repeat the same code multiple times​

Copying and pasting the same code over and over to run it multiple times is not logical​

Instead, you can create a loop that contains set of statements you want to execute multiple times​

**There are two types of loop in Python​:**

For loop​

While loop​

**for loop in Python​**

for loop in Python, is used to iterate over a sequence such as a string and other collections​

We can also iterate other iterable objects such as range​

Using for loop, we can iterate over each item/element present in the sequence​

Also, we can execute the same set of operations for each item​

for loop in Python is also useful to automate repeated # Do This efficiently​

Using for loop we can repeat the block of statements a fixed number of times​

**Syntax:**

      for i in range/sequence:​

          statement 1​

          statement 2​

          statement n​

**Points to remember:​**

i is the iterating variable​

The range specifies how many times the loop should execute​

For example, if a string contains 10 letters, then for loop will execute 10 times to print each letter​

In each iteration of the loop, the iterating variable i gets the current value​

In [2]:
# display each letter of the country on the new line

country = 'CZECHOSLOVAKIA'

for ch in country:
    print(ch, end=' ')

C Z E C H O S L O V A K I A

In [4]:
country = 'CZECHOSLOVAKIA'
count = 0

# count the occurance of A,B,C
for ch in country:
    if ch in ['A','B','C']:
        count += 1

print(f"count of the occurance of A,B,C: {count}")

count of the occurance of A,B,C: 4

In [5]:
# display list elements

colorList = ['red', 'green', 'blue', 'yellow', 'purple', 'gold']

for i in colorList:
    print(i)

red
green
blue
yellow
purple
gold

In [6]:
# display square and cube of list elements
'''
list1 = [4,2,6,9,8,1,2,7]

Sample Output:
4   16   64
2   4    8
6   36   216
9   81   729
8   64   512
1   1    1
2   4    8
7   49   343
'''
list1 = [4,2,6,9,8,1,2,7]

for i in list1:
    print(f"{i}\t{i**2}\t{i**3}")

4	16	64
2	4	8
6	36	216
9	81	729
8	64	512
1	1	1
2	4	8
7	49	343

**range() function**

- We can generate a sequence of numbers using range() function
- range(10) will generate numbers from 0 to 9 (10 numbers)


**Syntax:**

- range(start, stop, step)
- start: the sequence of integers starts with this integer

- stop: the sequence of integers stops with this integer. The range of integers end at stop–1
- step: integer value which determines the increment between each integer in the sequence


**There are three ways you can call range():**
- range(stop) takes one argument
- range(start, stop) takes two arguments
- range(start, stop, step) takes three arguments

In [7]:
# Print numbers from 0 to 9

for i in range(10):
    print(i,end = ' ')

0 1 2 3 4 5 6 7 8 9

In [8]:
# Print numbers on the same line separating with a space

# Sample output:   1 2 3 4 5 6 7 8 9 10

for i in range(1,11):
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
# Exercise Questions

#1.  Print numbers on the same line separating with ' * ' (space asterisk space)

# Sample Output: 0 * 1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9 *

#2. Calculate the sum of all numbers from 1 to a given number

#3. Accept a number. Display it's table.

**range() function with multiple arguments​**

In [ ]:
# range(start, stop, step)

In [9]:
# 50 52 54 56 58 60

for i in range(50,61,2):
    print(i,end = ' ')

50 52 54 56 58 60

In [10]:
# 10, 20, 30, ...., 100

for i in range(10,101,10):
    print(i,end = ' ')

10 20 30 40 50 60 70 80 90 100

**range() with negative step value​**

We can reverse the loop using step as negative value

Make sure to give start as bigger number than stop

In [11]:
# range(start, stop, -step)

# Display sequence of numbers:-   10 9 8 7 6 5 4 3 2 1 

for i in range(10, 0, -1):
    print(i,end = ' ')

10 9 8 7 6 5 4 3 2 1

**Exercise Questions**

In [ ]:
'''
1. Write a program to  write all the even numbers between 1 and 20

2. Write a program to  prompt user to enter their name, print all letters of the name.
Add new loop in the code and print all the letters of the name with "***" in between

Sample Output:-

Enter your name: Amit S
A
m
i
t

S
A***m***i***T ***S***

'''

In [14]:
#  5! = 5*4*3*2*1
# 12! = 12*11*10*.....*1

# Find factorial of an entered number

num = int(input('Enter a number: '))
fact = 1

for i in range(1,num+1):
    fact *= i

print(f"Factorial of {num} if {fact}")

Enter a number: 5
Factorial of 5 if 120

In [15]:
# Display multiples of 8 from 20 to 100

# Sample Output: 24 32 40 48 56 64 72 80 88 96

for i in range(20,101):
    if i%8 == 0:
        print(i, end=' ')

24 32 40 48 56 64 72 80 88 96

In [17]:
# WAP to print the first n elements of fibbonacci series
'''
Sample Output:
How many elements u want in the series: 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
'''
num = int(input('How many elements u want in the series: '))
fib = [0, 1]

for i in range(num-2):
    fib.append( fib[-1] + fib[-2] )
    print(fib)

How many elements u want in the series: 5
[0, 1, 1]
[0, 1, 1, 2]
[0, 1, 1, 2, 3]

### Password Project

##### What is password generator in Python?

- Password generator is a Random Password generating program
- It generates a password which is a mix of uppercase, lowercase letters, numbers and symbols
- It should be strong enough to provides great security

Create a password having length of 20 characters.
Your password must be a combination of digits, symbols, uppercase and lowercase letters.
Your password should start with a symbol  "_".

In [18]:
# Password Project

import random

# max length of the password
maxlen = 20

lower = ['a','b','c','q','w','y','h','x','n','l']
upper = ['W','R','K','S','V','X','Z','M','R','T','U']
symbols = ['#','&','*','+','!','?']
numbers = ['0','1','2','5','7','8','9']

# combine all the above list together
combineList = lower + upper + symbols + numbers

# generate 4 letters
rlower = random.choice(lower)
rupper = random.choice(upper)
rsymbol = random.choice(symbols)
rnumber = random.choice(numbers)

# create a password variable
pwd = rlower + rupper + rsymbol + rnumber

# lets write a loop to generate remaining letters of the password
for i in range(maxlen-5):
    pwd = pwd + random.choice(combineList)

# start the password with an underscore letter
pwd = '_' + pwd

# display password
print(f"{pwd} length is {len(pwd)}!")

_yM!5U&*RwW7aMlq5&ZS length is 20!

### Homework

Create a password having length of  50 characters.
Your password must have the following,
5 random digits, 5 random special symbols & 5 random lowercase alphabets.

Finally create a password having combination of digits, symbols, uppercase & lowercase letters.
Your password should start with a symbol  "$".

**zip() function**

- The zip() function in python is an in-built function

- It takes any number of iterables(list, str, etc.) as an argument

- The zip() function returns a zip object
- A zip object is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item and so on.

- It stops when the shortest iterable is exhausted and the elements in longer iterables are left out.

- syntax:  
  
  - zip(iterable1, iterable2, ...)

  - Note: you can iterate the zip object using a for loop
  
**Observe the given code**

In [19]:
# Combine the given list objects

fruits = ["apple", "banana", "cherry", "Mango"]
stock = [40, 20, 25, 50, 100]

zipObj = zip(fruits, stock)

zipObj

In [20]:
for value in zipObj:
    print(value)

('apple', 40)
('banana', 20)
('cherry', 25)
('Mango', 50)

In [21]:
# Combine the given list objects

a = ["apple", "banana", "cherry", "Mango"]
b = [40, 20, 25, 50, 78]
c = (101, 102, 103, 104, 105, 106)

zipObj = zip(a,b,c)

for value in zipObj:
    print(value)

('apple', 40, 101)
('banana', 20, 102)
('cherry', 25, 103)
('Mango', 50, 104)

In [22]:
listObj = list(zip(a,b,c))

for value in listObj:
    print(value)

('apple', 40, 101)
('banana', 20, 102)
('cherry', 25, 103)
('Mango', 50, 104)

In [23]:
listObj

[('apple', 40, 101),
 ('banana', 20, 102),
 ('cherry', 25, 103),
 ('Mango', 50, 104)]

In [ ]:
# Add the zip elements to the list object

a = ["apple", "banana", "cherry", "Mango"]
b = [40, 20, 25, 50, 78]
c = (101, 102, 103, 104, 105, 106)

**enumerate() function**

- The enumerate() function in python is an in-built function

- The enumerate() method adds a counter to an iterable and returns it in a form of enumerating object.

- This enumerated object can then be used directly in the for loop

- syntax:

  - enumerate(iterable, counter)

  - the counter parameter is optional

In [25]:
# display student names along with the index number

students = ["Raghu", "Ankit", "Arpita", "Ashok"]

for i in enumerate(students):
    print(i)

(0, 'Raghu')
(1, 'Ankit')
(2, 'Arpita')
(3, 'Ashok')

In [26]:
# display student names along with the counter starting from 101

students = ["Raghu", "Ankit", "Aritra", "Ashok"]

for i in enumerate(students, 101):
    print(i)

(101, 'Raghu')
(102, 'Ankit')
(103, 'Aritra')
(104, 'Ashok')

In [28]:
students = {"Raghu", "Ankit", "Aritra", "Ashok"}

for i in enumerate(students):
    print(i)

(0, 'Ankit')
(1, 'Ashok')
(2, 'Aritra')
(3, 'Raghu')

**Nested for loop**

- A nested loop is a loop inside the body of the another loop.

- The inner or outer loop can be any type, such as a while loop or for loop.

- The outer loop can contain more than one inner loop.

In [ ]:
'''
- Syntax:
  
  for element in sequence:    	# outer for loop
  
      for element in sequence:	# inner for loop
          Statement 1
          Statement 2
          ....
          Statement n
      Statement 1		# statements of outer for loop
      Statement 2
      Statement n

'''

In [29]:
# Write a nested for loop to print the pattern of numbers
'''
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
'''
for i in range(5):
    for j in range(1,6):
        print(j, end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [30]:
# Write a nested for loop to print the pattern of numbers
'''
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
'''
for i in range(1, 6):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# Write a nested for loop to print the pattern of numbers
'''
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
'''

**Exercise Questions**

In [ ]:
'''
1. Write a nested for loop to print the following patterns of numbers

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1


2. A list of animals is given as
animals = ['zebra', 'lion', 'elephant', 'tiger', 'camel', 'dog']

WAP to print animal names along with its index number


3. Write a program to  aggregate the below 2 lists, and create a restaurant menu

items=['Juice','Salad','Sandwich','Paratha','Idli Sambar','Dosa','Misal Pav']

price=[100,150,80,180,90,120,50]

Sample Output:

('Juice', 100)
('Salad', 150)
('Sandwich', 80)
('Paratha', 180)
('Idli Sambar', 90)
('Dosa', 120)
('Misal Pav', 50)

'''

**break statement**


- The break statement is used to terminate or end the current loop ​

- Once the break statement occurs, ​

  - the current execution of loop stops, and ​

  - the flow of control is transferred to the following line of code immediately after the loop​
- **Note: break statement executes, means the loop gets terminated abruptly**

In [31]:
# Enter ten numbers, display its square
# stop the loop if the entered number is 100

for i in range(10):
    num = int(input('Enter a number[enter 100 to stop]: '))
    if num==100:
        break
    print(f"Square: {num**2}")

Enter a number[enter 100 to stop]: 23
Square: 529
Enter a number[enter 100 to stop]: 54
Square: 2916
Enter a number[enter 100 to stop]: 100

In [32]:
# Observe the code and guess the output

for i in range(10):
    print(i)
    if i == 5:
        break

for i in range(10):
    for j in range(20):
        for k in range(30):
            if k == 2:
                break

0
1
2
3
4
5

**continue statement**

- The continue statement skips the current iteration of a loop​

- It then immediately jumps to the next iteration skipping the remaining code​

- You can use continue statement if you want to jump to the next iteration of the loop immediately​

- The continue statement doesn’t terminate the loop
but continues the next iteration ignoring the specified block of code​

In [33]:
# Enter ten numbers, display its square
# don't show the square, if the entered number is 100

for i in range(10):
    num = int(input('Enter a number[enter 100 to stop]: '))
    if num==100:
        continue
    print(f"Square: {num**2}")

Enter a number[enter 100 to stop]: 4
Square: 16
Enter a number[enter 100 to stop]: 5
Square: 25
Enter a number[enter 100 to stop]: 100
Enter a number[enter 100 to stop]: 67
Square: 4489
Enter a number[enter 100 to stop]: 89
Square: 7921
Enter a number[enter 100 to stop]: 100
Enter a number[enter 100 to stop]: 5
Square: 25
Enter a number[enter 100 to stop]: 2
Square: 4
Enter a number[enter 100 to stop]: 4
Square: 16
Enter a number[enter 100 to stop]: 77
Square: 5929

In [34]:
# Observe the code

# Enter name & display 
# count of occurrence of letter 'a' in a given string

name = input("Enter a name: ")
count = 0

for i in name:
    if i != 'a':
        continue
    count += 1

print(f'The letter a appears {count} times')

Enter a name: apple
The letter a appears 1 times

In [ ]:
# Enter name & display 
# count of occurrence of letter 'a' in a given string

# Write this program without using continue

#### isalpha()
- The isalpha() method is use to check if the given object is alphabet or not
- It returns a boolean value
- Syntax: **object.isalpha()**

In [35]:
# Observe the code

# Example: display only alphabets  from the  given alphanumeric string

string1 = "Qwe0rt3y92re54"

for ch in string1:
    if ch.isalpha():
        print(ch, end='')

Qwertyre

**Pass Statement in for loop**

- The pass statement is a null statement, i.e., nothing happens when the statement is executed.

- Primarily it is used in empty functions or classes. When the interpreter finds a pass statement in the program, it returns no operation.

- Sometimes there is a situation in programming where we need to define a syntactically empty block. We can define that block with the pass keyword.

In [ ]:
# Observe the given code

num = [1, 4, 5, 3, 7, 8]

for i in num:
    # calculate multiplication in future if required
    pass

**Else block in for loop**

- Same as the if statement, Python allows us to use an else statement along with for loop.

- In Python, for-loop can have the else block, which will be executed when the loop terminates normally. Defining the else part with for loop is optional.

- else block gets skipped when:-
  - for loop terminate abruptly
  - the break statement is used to break the loop

In [37]:
# Observe the given code

# Enter ten numbers, display its square
# break the loop if the entered number is 100

for i in range(5):
    num = int(input("Enter a number: "))
    if num == 100:
        break
    print(f'Number = {num} | Square = {num*num}')
else:
    print('I am done here')

Enter a number: 33
Number = 33 | Square = 1089
Enter a number: 100

### Working of break and continue with for loop

In [38]:
# Let's Observe the output

count = 0
for i in range(1, 6):
    count = count + 1
    if count > 2:
        break
    else:
        print(i)
else:
    print("Done")

1
2

In [39]:
# Let's Observe the output

count = 0
for i in range(1, 6):
    count = count + 1
    if count > 2:
        print("**************")
        continue
    else:
        print(i)
else:
    print("Done")

1
2
**************
**************
**************
Done

**MORE ABOUT STRING**

**string punctuation**

- The string punctuation is pre-defined in the **string module** of Python3.

- It contains all the characters as a string.

- punctuation is a pre-initialized string (having all special symbols). It can be used as a string constant.

- In python, **string.punctuation** will give all sets of punctuation.

- Note that it is not a function therefore there will be no parameters taken.

In [40]:
# display all string punctuation

import string

In [41]:
# display all string methods

print(dir(string))

['Formatter', 'Template', '_ChainMap', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_re', '_sentinel_dict', '_string', 'ascii_letters', 'ascii_lowercase', 'ascii_uppercase', 'capwords', 'digits', 'hexdigits', 'octdigits', 'printable', 'punctuation', 'whitespace']

In [42]:
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [43]:
# Check if the character '@', '#', "1", 'A' is present in string module

'@' in string.punctuation

True

In [44]:
'1' in string.punctuation

False

In [45]:
'A' in string.punctuation

False

#### Observe the given code

In [ ]:
# Code is for observation
# Enter a code. Find if the code contains any special symbol.

import string

code = input("Enter a code: ")

for ch in code:
    if ch in string.punctuation:
        print(f"String contains special symbol {ch}")
    else:
        print("No special symbol")
else:
    print("Done with string module")

In [ ]:
# Code is for observation
# Enter a code. Find if the code contains any special sumbol.

import string

code = input("Enter a code: ")

for ch in code:
    if ch in string.punctuation:
        print(f"String contains special symbol {ch}")
        break
else:
    print("String doesn't contains special symbol")

**Exercise Questions**

1. Find if the entered string is alphanumeric or not

2. Count the number of digits in a given number ( hint: use len(), str() functions )

3. Write a program to  print all the numbers between 5 and 15 except 10.

### Guess a number game Project

In [51]:
# Guess a number game
# User and computer will guess a number between 1 to 10
# Find if both guess the same number
# If they do, user wins
# Else give another chance to the user
# Only 4 chances are given
# Finally if user couldn't guess, 
# display the correct guess and guesses taken

import random

comp = random.randint(1,10)
guess = 5

for i in range(guess):
    num = int(input("Choose a number bet 1 to 10: "))
    if num == comp:
        print('You won!')
        break
    elif num > comp:
        print('Choose a lower number')
    elif num < comp:
        print('Choose a higher number')
else:
    print(f'The number is {comp}')
    print("Better luck next time")

Choose a number bet 1 to 10: 7
Choose a lower number
Choose a number bet 1 to 10: 6
Choose a lower number
Choose a number bet 1 to 10: 4
Choose a lower number
Choose a number bet 1 to 10: 2
You won!

### Armstrong number Project

In [57]:
# enter a number. find if it's an armstrong or not.
# 1, 153, 370, 371, 1634, 8208, 9474

import math

num = input('Enter a number: ')
sums = 0
power = len(num)

for i in num:
    digit = int(i)
    sums = sums + math.pow(digit, power)
    #print(sums)
else:
    if int(num) == int(sums):
        print(f"{num} is an armstrong number!")
    else:
        print(f"{num} is not an armstrong number!")

Enter a number: 1
1 is an armstrong number!

**While Loop**

- The while loop in Python is used to iterate over a block of code as long as the test expression (condition) is true.

- We generally use this loop when we don't know the number of times to iterate beforehand.

- It checks the condition first the body of the loop is executed only if the condition evaluates to True.
The loop executes until the condition evaluates to False
Use while loop for indefinite Iteration or unknown number of iterations.

- When you know definite Iteration or know number of iterations, you can use for loop

**How while works:**

- Loop variable initialization

- Condition for termination

- Updation of Loop variable

**Syntax:**

while condition:
    statement 1
    statement 2
    statement n

In [ ]:
'''
while condition:
  statement
  statement
  ....
else:
  statement
  statement
  ....
'''
# loop control variable
# increment or decrement the loop control variable

In [58]:
# print numbers from 1 to 10
i = 1

while i<=10:
    print(i, end=' ')
    i += 1

1 2 3 4 5 6 7 8 9 10

In [59]:
# print numbers 10 9 8 7 .... 1
i = 10

while i>=1:
    print(i, end=' ')
    i -= 1

10 9 8 7 6 5 4 3 2 1

In [60]:
# Observe the code

# display list elements using while

list1 = [43, 78, 65, 10, 90, 23]

length = len(list1)
i = 0

while i<length:
    print(list1[i], end=' ')
    i += 1

43 78 65 10 90 23

In [ ]:
# WAP to print first 10 odd numbers

In [61]:
'''
WAP to print the messages entered by user, until user enters 'STOP'

Sample Output:

Enter your msg:hi
You entered: hi
Enter next msg (Enter STOP if no more messages are there):how are you
You entered: how are you
Enter next msg (Enter STOP if no more messages are there):STOP
'''
while True:
    msg = input('Enter ur message[stop to break]: ')
    if msg == 'stop':
        break
    print(msg)

Enter ur message[stop to break]: aaa
aaa
Enter ur message[stop to break]: fff
fff
Enter ur message[stop to break]: rrr
rrr
Enter ur message[stop to break]: stop

In [62]:
# Observe the code
# Program to display table of an entered number

num = int(input('Enter a number: '))
i=1

while i<=10:
    print(f'{num} x {i} = {num*i}')
    i += 1

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Observe the code

# Find Factorial of a number using while loop
# 5! = 5*4*3*2*1 = 120
num = 5
fact = 1

while num >=1:
    fact *= num
    num -= 1
else:
    print(fact)

In [63]:
# While loop executing infinite times
# How will you make the loop execute finite times

num = 1

while num<5:
    print('Hello World')
    num += 1

Hello World
Hello World
Hello World
Hello World

**Exercise Questions**

1. WAP to check whether a number entered by user is prime or not.

A number is said to be prime, if it is divisible by 1 and itself only.

Prime numbers from 1 - 100 are :
2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97

Sample Output:

Enter the number to be checked for prime:67
Prime number
Enter the number to be checked for prime:33
Not a prime number


2. WAP to print all the integers and their squares. User should provide

The number to start the series from
What should be the max value to stop (Squared value should not be more than the max value).

Sample Output:

Enter a number to start the square series:21
Enter the number after/on which the squared values are not required: 899
21 : 441
22 : 484
23 : 529
24 : 576
25 : 625
26 : 676
27 : 729
28 : 784
29 : 841
Thats all folks!!

3. Find if an entered year is leap year or not.