In [ ]:
list = find greatest number:
       find 2nd greatest num:
       fine lowest number

In [7]:
Lst2 = [35,753,6584,3546,-23,254,36,364,0,456,987,356,]
var = Lst2[0]
for i in Lst2:
    if i > var:
        var = i

print("The maximum number in list is", var)

The maximum number in list is 6584

In [13]:
Lst2 = [35,753,6584,3546,-23,254,36,364,0,456,987,356,]

first_max = Lst2[0]
second_max = Lst2[1]
for i in Lst2:
    if i > first_max:
        first_max = i
    elif i > second_max:
        second_max = i

print("The 2nd maximum number in list is", second_max)

The 2nd maximum number in list is 3546

In [ ]:
Lst2 = [35,753,6584,3546,-23,254,36,364,0,456,987,356,]

# find 4 digit number and delete

In [89]:
Lst2 = [35,753,6584,3546,-23,254,36,364,0,456,987,356,]
l1= []
for i in Lst2:
    if len(str(i))==4:
        print(i)

6584
3546

In [105]:
Lst2 = [35,753,6584,3546,-23,254,36,364,0,456,987,356,] 
for i in Lst2[:]:    #creates a copy of the list Lst2 using slicing Lst2[:]
    if len(str(i))==4:
        Lst2.remove(i)
print(Lst2)

[35, 753, -23, 254, 36, 364, 0, 456, 987, 356]

In [129]:
#remove 4 digit  elements using range
Lst2 = [35,753,6584,3546,-23,254,36,364,0,456,987,356,] 

for i in range(len(Lst2)-1,-1,-1):
    if len(str(Lst2[i]))==4:
        del Lst2[i]
print(Lst2)

[35, 753, -23, 254, 36, 364, 0, 456, 987, 356]

In [ ]:
#Ankush Bhasme 8:48 PM

Lst2 = [35,753,6584,3546, 254,36,364,456,987,356,]
l1=[]
for i in Lst2:
    if len(str(i))==4:
        l1.append(i)
s1=set(Lst2)
s2=set(l1)

        
new_list=s1.symmetric_difference(s2)
print(new_list)

In [19]:
#sorting/ bubble sort ==> Bubble sort is a simple sorting algorithm used in Python to arrange data 
#comparing and swapping adjacent elements if they are in the wrong order. This process continues until no 
#more swaps are needed, indicating that the list is sorted. However, bubble sort is not the most efficient 
#sorting algorithm, especially for large data sets.

#Lst2 = [35,753,6584,3546,-23,254,36,364,0,456,987,356,]

#Ankush Bhasme7:24 PM
#sorting element in asceding order
def max_element(l1):
    n=len(l1)
    for i in range(n-1,0,-1):   #loop in reverse order
        for j in range(i):
            if l1[j] > l1[j+1]:
                temp=l1[j]
                l1[j]=l1[j+1]
                l1[j+1]=temp
    return l1

l1=[1,2,651,52,8,581,62,63,4,3]
print("Sorted List Is:",max_element(l1))

Sorted List Is: [1, 2, 3, 4, 8, 52, 62, 63, 581, 651]

In [23]:
def max_element(l1):
    n=len(l1)
    for i in range(n):   #loop in forward order
        for j in range(0,n-i-1):   #loop in forward order
            if l1[j] > l1[j+1]:
                temp=l1[j]
                l1[j]=l1[j+1]
                l1[j+1]=temp
    return l1

l1=[1,2,651,52,8,581,62,63,4,3]
print("Sorted List Is:",max_element(l1))

Sorted List Is: [1, 2, 3, 4, 8, 52, 62, 63, 581, 651]

In [ ]:
Yogen
7:43 PM
lst = ["aa", "ab", "ac", "ad"]

print(lst[1: ][ :2])    #([x:y])   includes x and excludes y/ y-1

ANSWER

a. ["aa", "ab", "ac", "ad"]

b. ["aa", "ab", "ac"]

c. ["ab", "ac", "ad"]

d. ['ab', 'ac']

In [25]:
lst = ["aa", "ab", "ac", "ad"]

print(lst[1:])

['ab', 'ac', 'ad']

In [29]:
lst = ["ab", "ac", "ad"]

print(lst[ :2])

['ab', 'ac']

In [ ]:
Yogen
7:55 PM

L = ['a', 'b', 'c', 'd']
res = ''.join(L)
print(res)


What will be the output?

A. [abcd]
B. a'b'c'd"
C. abcd
D. Error

In [49]:
L = ['a', 'b', 'c', 'd']
res = '@'.join(L)
print(res)

a@b@c@d

In [ ]:
Yogen
8:05 PM
x = True

y = False

result = x and y

print(result)

a.) True

b.) False

c.) 1

d.) o

In [ ]:
Yogen
8:06 PM
Q) Which of the following deletes the 3rd key-value pair in the following dictionary?

my_dict = {1:1, 2:4, 3:9, 4:16, 5:25}

OPTIONS -:

A) del my_dict[3]

B) my_dict.pop(3)

C) Both A and B

D) Dictionaries are Immutable

In [51]:
my_dict = {1:1, 2:4, 3:9, 4:16, 5:25}
my_dict.pop(3)

9

In [ ]:
Yogen
8:10 PM
my_list = [10, 20, 30, 40, 50]

result = list(filter(lambda x: x > 30, my_list))

print(result)

Choose your correct option:

A)[10, 20, 30]

B)[30, 40, 50]

C)[40, 50]

D)[10, 20, 30, 40, 50]

In [57]:
my_list = [10, 20, 30, 40, 50]

result = list(filter(lambda x: x > 30, my_list))

print(result)

[40, 50]

In [75]:
my_dict = [{'id':101, 'name':'Gajanan', 'age':20, 'salary':200000, 'city': 'Pune'}]

result = dict(sorted(my_dict, key=lambda i: i['2']))

KeyError: '2'

In [77]:
list = [{"name": "Nandini", "age": 20},
       {"name": "Manjeet", "age": 20},
       {"name": "Nikhil", "age": 19}]
 
# using sorted and lambda to print list sorted
# by age
print("The list printed sorting by age: ")
print(sorted(list, key=lambda i: i['age']))

The list printed sorting by age:
[{'name': 'Nikhil', 'age': 19}, {'name': 'Nandini', 'age': 20}, {'name': 'Manjeet', 'age': 20}]